*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
 max-width: 100%;
 height: 100%;
  margin: 0 12.5% ;
}
header{
  width: 100%;
  height: 80px;
  background-color: #6c76e2;
  .title{
    font-size: 40px;
    color: #ffffff;
    margin-left: 10%;
    font-weight: bold;
  }
}
.container{
  .container_title{
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
  }
  .container_input{
    margin: 40px 0;
    input{
      border: none;
      padding-left: 15px;
      height: 50px;
    }
    .add{
      width: 14%;
      height: 50px;
      border: none ;
      background-color: #6c76e2;
      color: #ffffff;
      border-radius: 10px;
    }
  }
  .container_block{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    .block_wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .wrap_title{
        font-size: 20px;
        font-weight: bold;
      }
      .one{
        color: #aba5a5;
      }
      .two{
        color:  #6c76e2;
      }
      .three{
        color:  #23b639;
      }
      .four{
        color:  #ce5252;
      }
      .desc{
        font-size: 18px;
        margin-top: 50px;

      }
    }
  }
  footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .desc{
      font-size: 18px;
    }
    
  }
}
.clean{
  width: 16%;
  height: 50px;
  border-radius: 10px;
  border: none;
  position: absolute;
  right: 9%;
  background-color: #ce5252;
  color: #ffffff;
  span{
    padding-left: 10px;
  }
}